<?xml version='1.0' encoding='utf-8'?>
<main>
    <directories text="D:\civ4_anewdawn_repository\Rise of Mankind - A New Dawn\Assets\XML\Text" to="export" BTS="C:\Jeux\Civ4" sources="D:\civ4_anewdawn_repository\Sources" mod="D:\civ4_anewdawn_repository\Rise of Mankind - A New Dawn"/>
	<list>_tags_not_found.txt</list>
    <exceptions>
      <tag>TXT_KEY_BUG_OPT</tag>
  		<tag>TXT_KEY_BUG_UNIT_NAMING</tag>
      <tag>TXT_KEY_BUFFY</tag>
  		<tag>TXT_KEY_PLE_FILTER_</tag>
  		<tag>TXT_KEY_PLE_GRP_</tag>
  		<tag>TXT_KEY_PLE_MODE_</tag>
  		<tag>TXT_KEY_PLE_RESET_FILTERS</tag>
  		<tag>TXT_KEY_SIGN_EVENT_</tag>
  		<tag>TXT_KEY_ACTION_WAKE_WHEN_READY</tag>
  		<tag>TXT_KEY_EVENT_DARK_AGE_</tag>

      <!-- Civilization IV BTS Hardcoded tags -->
      <tag>TXT_KEY_LANGUAGE_</tag>
		<tag>TXT_KEY_LANDMARK_</tag>
		<tag>TXT_KEY_MAIN_MENU_</tag>
		<tag>CHANGED_TXT_KEY_MAIN_MENU_WARLORS</tag>
		<tag>TXT_BUDDY_LIST_</tag>
		<tag>TXT_KEY_ACTION_</tag>
		<tag>TXT_KEY_ADD_BUDDY_</tag>
      <tag>TXT_KEY_ADD_MEMBER_AS_BUDDYHELP</tag>
      <tag>TXT_KEY_ADDED_BUDDY_IMAGE_TEXT</tag>
      <tag>TXT_KEY_ADDED_BUDDY_PROMPT</tag>
      <tag>TXT_KEY_ADDED_BUDDY_TITLE</tag>
      <tag>TXT_KEY_ADDRESS_REQUIRED_DESC</tag>
      <tag>TXT_KEY_ADDRESS_REQUIRED_TITLE</tag>
      <tag>TXT_KEY_ADVANCED_START_POINTS_HELP</tag>
      <tag>TXT_KEY_ALREADY_BUDDY_DESC</tag>
      <tag>TXT_KEY_ALREADY_BUDDY_TITLE</tag>
      <tag>TXT_KEY_AUTOSAVING</tag>
      <tag>TXT_KEY_BAD_LOGIN_DESC</tag>
      <tag>TXT_KEY_BAD_LOGIN_TITLE</tag>
      <tag>TXT_KEY_BAD_NEW_PASSWORD_DESC</tag>
      <tag>TXT_KEY_BAD_NEW_PASSWORD_TITLE</tag>
      <tag>TXT_KEY_BELOW_MIN_SPECS_MESSAGE</tag>
      <tag>TXT_KEY_BUDDY_INFO_TAG</tag>
      <tag>TXT_KEY_BUDDY_LIST_STATUS_LOBBY</tag>
      <tag>TXT_KEY_BUDDY_LIST_STATUS_NA</tag>
      <tag>TXT_KEY_BUDDY_LIST_STATUS_OFFLINE</tag>
      <tag>TXT_KEY_BUDDY_LIST_STATUS_ONLINE</tag>
      <tag>TXT_KEY_BUDDY_LIST_STATUS_PLAYING</tag>
      <tag>TXT_KEY_BUDDY_LIST_STATUS_STAGING</tag>
      <tag>TXT_KEY_BUDDY_NAME_TAG</tag>
      <tag>TXT_KEY_BUDDY_REQUEST_FAILED_DESC</tag>
      <tag>TXT_KEY_BUDDY_REQUEST_FAILED_TITLE</tag>
      <tag>TXT_KEY_BUDDY_ROOT_NAME</tag>
      <tag>TXT_KEY_BUDDYLIST_EMPTY_NAME_DESC</tag>
      <tag>TXT_KEY_BUDDYLIST_EMPTY_NAME_TITLE</tag>
      <tag>TXT_KEY_BUDDYLIST_MULTIPLE_PROFILES_DESC</tag>
      <tag>TXT_KEY_BUDDYLIST_MULTIPLE_PROFILES_TITLE</tag>
      <tag>TXT_KEY_BUDDYLIST_NO_PROFILE_DESC</tag>
      <tag>TXT_KEY_BUDDYLIST_NO_PROFILE_TITLE</tag>
      <tag>TXT_KEY_BUDDYLIST_SERVER_ERROR_DESC</tag>
      <tag>TXT_KEY_BUDDYLIST_SERVER_ERROR_TITLE</tag>
      <tag>TXT_KEY_CITY_WARNING_ANSWER1</tag>
      <tag>TXT_KEY_CITY_WARNING_ANSWER2</tag>
      <tag>TXT_KEY_CITY_WARNING_HAPPY</tag>
      <tag>TXT_KEY_CITY_WARNING_HEALTH</tag>
      <tag>TXT_KEY_CITY_WARNING_TITLE</tag>
      <tag>TXT_KEY_CIV_SELECT_RANDOM_CIV</tag>
      <tag>TXT_KEY_CIV_SELECT_RANDOM_LEADER</tag>
      <tag>TXT_KEY_CIV_RESPONSE_BADPWD_DESC</tag>
      <tag>TXT_KEY_CIV_RESPONSE_BADPWD_TITLE</tag>
      <tag>TXT_KEY_CIV_RESPONSE_TAKEN_DESC</tag>
      <tag>TXT_KEY_CIV_RESPONSE_TAKEN_TITLE</tag>
      <tag>TXT_KEY_CLIMATE_ARID_HELP</tag>
      <tag>TXT_KEY_CLIMATE_COLD_HELP</tag>
      <tag>TXT_KEY_CLIMATE_ROCKY_HELP</tag>
      <tag>TXT_KEY_CLIMATE_TEMPERATE_HELP</tag>
      <tag>TXT_KEY_CLIMATE_TROPICAL_HELP</tag>
      <tag>TXT_KEY_COMBAT_MESSAGE_CLASS_KAMIKAZE_ATTACK</tag>
      <tag>TXT_KEY_COMBAT_MESSAGE_DOMAIN_DEFENSE</tag>
      <tag>TXT_KEY_COMBAT_MESSAGE_LOG</tag>
      <tag>TXT_KEY_COMBAT_MESSAGE_STRENGTH_ABBR</tag>
      <tag>TXT_KEY_COMPRESS_FAILED</tag>
      <tag>TXT_KEY_CONN_UPDATE_JOINED</tag>
      <tag>TXT_KEY_CONN_UPDATE_KICKED</tag>
      <tag>TXT_KEY_CONN_UPDATE_LEFT</tag>
      <tag>TXT_KEY_CONN_UPDATE_RETIRED</tag>
      <tag>TXT_KEY_CONN_UPDATE_SAVING_QUITTING</tag>
      <tag>TXT_KEY_CONN_UPDATE_SAVING_REMOVING</tag>
      <tag>TXT_KEY_CONN_UPDATE_UNEXPECTED</tag>
      <tag>TXT_KEY_CONNECT_ALREADY_CONNECTED_DESC</tag>
      <tag>TXT_KEY_CONNECT_ALREADY_CONNECTED_TITLE</tag>
      <tag>TXT_KEY_CONNECT_INVALID_ADDRESS_DESC</tag>
      <tag>TXT_KEY_CONNECT_INVALID_ADDRESS_TITLE</tag>
      <tag>TXT_KEY_CONNECT_NAT_ERROR_DESC</tag>
      <tag>TXT_KEY_CONNECT_NAT_ERROR_TITLE</tag>
      <tag>TXT_KEY_CONNECT_NETWORK_ERROR_DESC</tag>
      <tag>TXT_KEY_CONNECT_NETWORK_ERROR_TITLE</tag>
      <tag>TXT_KEY_CONNECT_OUT_OF_MEMORY_DESC</tag>
      <tag>TXT_KEY_CONNECT_OUT_OF_MEMORY_TITLE</tag>
      <tag>TXT_KEY_CONNECT_REJECTED_DESC</tag>
      <tag>TXT_KEY_CONNECT_REJECTED_TITLE</tag>
      <tag>TXT_KEY_CONNECT_TIMEOUT_DESC</tag>
      <tag>TXT_KEY_CONNECT_TIMEOUT_TITLE</tag>
      <tag>TXT_KEY_CONNECT_UNSPECIFIED_ERROR_DESC</tag>
      <tag>TXT_KEY_CONNECT_UNSPECIFIED_ERROR_TITLE</tag>
      <tag>TXT_KEY_CONNECT_UPDATE_HOST_ATTEMPT</tag>
      <tag>TXT_KEY_CONNECT_UPDATE_HOST_CONNECTED</tag>
      <tag>TXT_KEY_CONNECT_UPDATE_NAMED_PEER_ATTEMPT</tag>
      <tag>TXT_KEY_CONNECT_UPDATE_PEER_ATTEMPT</tag>
      <tag>TXT_KEY_CONNECT_UPDATE_PEER_CONNECTED</tag>
      <tag>TXT_KEY_CORPORATION_PER_RESOURCE</tag>
      <tag>TXT_KEY_CUSTOM_GAME_TITLE</tag>
      <tag>TXT_KEY_DEFAULT_GAMENAME</tag>
      <tag>TXT_KEY_DIPLOMACY_BUSY</tag>
      <tag>TXT_KEY_DISCONNECT_NETWORK_DESC</tag>
      <tag>TXT_KEY_DISCONNECT_NETWORK_TITLE</tag>
      <tag>TXT_KEY_DISCONNECT_UNSPECIFIED_DESC</tag>
      <tag>TXT_KEY_DISCONNECT_UNSPECIFIED_TITLE</tag>
      <tag>TXT_KEY_DIVINITY</tag>
      <tag>TXT_KEY_DOMESTIC_ADVISOR_APPLY</tag>
      <tag>TXT_KEY_DOMESTIC_ADVISOR_APPLY_HELP</tag>
      <tag>TXT_KEY_DOMESTIC_ADVISOR_AUTOMATION</tag>
      <tag>TXT_KEY_DOMESTIC_ADVISOR_COMMERCE</tag>
      <tag>TXT_KEY_DOMESTIC_ADVISOR_CULTURE</tag>
      <tag>TXT_KEY_DOMESTIC_ADVISOR_DATE_FOUNDED</tag>
      <tag>TXT_KEY_DOMESTIC_ADVISOR_EMPHASIZE</tag>
      <tag>TXT_KEY_DOMESTIC_ADVISOR_FOOD</tag>
      <tag>TXT_KEY_DOMESTIC_ADVISOR_GREATPEOPLE</tag>
      <tag>TXT_KEY_DOMESTIC_ADVISOR_GROWTH</tag>
      <tag>TXT_KEY_DOMESTIC_ADVISOR_HAPPY</tag>
      <tag>TXT_KEY_DOMESTIC_ADVISOR_HEALTH</tag>
      <tag>TXT_KEY_DOMESTIC_ADVISOR_MOUSEOVER_CITY</tag>
      <tag>TXT_KEY_DOMESTIC_ADVISOR_MOUSEOVER_PROD_CANCHANGE</tag>
      <tag>TXT_KEY_DOMESTIC_ADVISOR_MOUSEOVER_PROD_NOCHANGE</tag>
      <tag>TXT_KEY_DOMESTIC_ADVISOR_PRODUCTION</tag>
      <tag>TXT_KEY_DOMESTIC_ADVISOR_REDRAW</tag>
      <tag>TXT_KEY_DOMESTIC_ADVISOR_SELECT_ALL</tag>
      <tag>TXT_KEY_DOMESTIC_ADVISOR_TURNS_TIL_COMPLETION</tag>
      <tag>TXT_KEY_DOMESTIC_ADVISOR_UNSELECT_ALL</tag>
      <tag>TXT_KEY_DOMESTIC_ADVISOR_VIEW</tag>
      <tag>TXT_KEY_DOMESTIC_HEADER_HELP_COMMERCE</tag>
      <tag>TXT_KEY_DOMESTIC_HEADER_HELP_CULTURE</tag>
      <tag>TXT_KEY_DOMESTIC_HEADER_HELP_DATE</tag>
      <tag>TXT_KEY_DOMESTIC_HEADER_HELP_FOOD</tag>
      <tag>TXT_KEY_DOMESTIC_HEADER_HELP_GREATPERSON</tag>
      <tag>TXT_KEY_DOMESTIC_HEADER_HELP_HAPPY</tag>
      <tag>TXT_KEY_DOMESTIC_HEADER_HELP_HEALTH</tag>
      <tag>TXT_KEY_DOMESTIC_HEADER_HELP_ITEM_PRODUCED</tag>
      <tag>TXT_KEY_DOMESTIC_HEADER_HELP_NAME</tag>
      <tag>TXT_KEY_DOMESTIC_HEADER_HELP_PRODUCTION</tag>
      <tag>TXT_KEY_DOWNLOAD_MAP_WAIT</tag>
      <tag>TXT_KEY_DOWNLOAD_STATUS_TAG</tag>
      <tag>TXT_KEY_DOWNLOADING_DESC</tag>
      <tag>TXT_KEY_DROP_NAME_AND</tag>
      <tag>TXT_KEY_DROP_NAME_COMMA_AND</tag>
      <tag>TXT_KEY_DROP_VOTE_CONTINUE_DESC</tag>
      <tag>TXT_KEY_DROP_VOTE_CONTINUE_SHORT</tag>
      <tag>TXT_KEY_DROP_VOTE_HEADER</tag>
      <tag>TXT_KEY_DROP_VOTE_HEADER_CORRECTED</tag>
      <tag>TXT_KEY_DROP_VOTE_OUTSTANDING_TITLE</tag>
      <tag>TXT_KEY_DROP_VOTE_QUIT_DESC</tag>
      <tag>TXT_KEY_DROP_VOTE_QUIT_SHORT</tag>
      <tag>TXT_KEY_DROP_VOTE_TIED_TITLE</tag>
      <tag>TXT_KEY_DROP_VOTE_UNANIMOUS_TITLE</tag>
      <tag>TXT_KEY_DROP_VOTE_UNDECIDED_SHORT</tag>
      <tag>TXT_KEY_DROP_VOTE_UNKNOWN_SHORT</tag>
      <tag>TXT_KEY_DROP_VOTE_WAIT_DESC</tag>
      <tag>TXT_KEY_DROP_VOTE_WAIT_SHORT</tag>
      <tag>TXT_KEY_DROP_VOTE_WAIT_TITLE</tag>
      <tag>TXT_KEY_EMAIL_NOT_SENT</tag>
      <tag>TXT_KEY_EMAIL_REQUIRED_DESC</tag>
      <tag>TXT_KEY_EMAIL_REQUIRED_TITLE</tag>
      <tag>TXT_KEY_EMAIL_SENT</tag>
      <tag>TXT_KEY_EMPHASIZE_AVOID_GROWTH_HELP</tag>
      <tag>TXT_KEY_EMPHASIZE_COMMERCE_HELP</tag>
      <tag>TXT_KEY_EMPHASIZE_FOOD_HELP</tag>
      <tag>TXT_KEY_EMPHASIZE_GREAT_PEOPLE_HELP</tag>
      <tag>TXT_KEY_EMPHASIZE_PRODUCTION_HELP</tag>
      <tag>TXT_KEY_EMPHASIZE_RESEARCH_HELP</tag>
      <tag>TXT_KEY_ERROR</tag>
      <tag>TXT_KEY_FATAL_ERROR</tag>
      <tag>TXT_KEY_FILE_TRANSFER_ERROR_DESC</tag>
      <tag>TXT_KEY_FILE_TRANSFER_ERROR_TITLE</tag>
      <tag>TXT_KEY_FINANCIAL_ADVISOR_NET_INCOME</tag>
      <tag>TXT_KEY_FORCE_CONTROL_HANDICAP_DESC</tag>
      <tag>TXT_KEY_FORCE_CONTROL_MAX_CITY_ELIMINATION_DESC</tag>
      <tag>TXT_KEY_FORCE_CONTROL_MAX_TURNS_DESC</tag>
      <tag>TXT_KEY_FORCE_CONTROL_OPTIONS_DESC</tag>
      <tag>TXT_KEY_FORCE_CONTROL_SPEED_DESC</tag>
      <tag>TXT_KEY_FORCE_CONTROL_VICTORIES_DESC</tag>
      <tag>TXT_KEY_FOREIGN_ADVISOR_GIVES</tag>
      <tag>TXT_KEY_FOREIGN_ADVISOR_NO_GOLD_TRADING</tag>
      <tag>TXT_KEY_FOREIGN_ADVISOR_NUM_GOLD</tag>
      <tag>TXT_KEY_FOREIGN_ADVISOR_RECEIVES</tag>
      <tag>TXT_KEY_FOREIGN_ADVISOR_USED</tag>
      <tag>TXT_KEY_GAME_LIST_FIREWALL_PING</tag>
      <tag>TXT_KEY_GAME_LIST_UNKNOWN_PING</tag>
      <tag>TXT_KEY_GAMESPY_CREATE_ACCOUNT</tag>
      <tag>TXT_KEY_GAMESPY_CREATE_ACCOUNT_HELP</tag>
      <tag>TXT_KEY_GAMESPY_CREATE_ACCOUNT_TITLE</tag>
      <tag>TXT_KEY_GAMESPY_EMAIL_ADDRESS</tag>
      <tag>TXT_KEY_GAMESPY_ERROR_EMAIL_ADDRESS_REQUIRED</tag>
      <tag>TXT_KEY_GAMESPY_ERROR_NOT_CONNECTED_TO_INTERNET</tag>
      <tag>TXT_KEY_GAMESPY_ERROR_PASSWORD_NEEDED</tag>
      <tag>TXT_KEY_GAMESPY_ERROR_UNIQUE_NICKNAME_NEEDED</tag>
      <tag>TXT_KEY_GAMESPY_LOGIN</tag>
      <tag>TXT_KEY_GAMESPY_LOGIN_BUTTON</tag>
      <tag>TXT_KEY_GAMESPY_LOGIN_DESC</tag>
      <tag>TXT_KEY_GAMESPY_LOGIN_NAME</tag>
      <tag>TXT_KEY_GAMESPY_LOGIN_TITLE</tag>
      <tag>TXT_KEY_GAMESPY_LOGIN_TITLEBAR</tag>
      <tag>TXT_KEY_GAMESPY_NEW_ACCOUNT</tag>
      <tag>TXT_KEY_GAMESPY_NEW_ACCOUNT_TITLE</tag>
      <tag>TXT_KEY_GENDER_FEMALE</tag>
      <tag>TXT_KEY_GENDER_MALE</tag>
      <tag>TXT_KEY_HANDICAP_DIETY_HELP</tag>
      <tag>TXT_KEY_HINT_66</tag>
      <tag>TXT_KEY_HOST_CONNECT_FAILURE_DESC</tag>
      <tag>TXT_KEY_HOST_CONNECT_FAILURE_TITLE</tag>
      <tag>TXT_KEY_HOST_GAME</tag>
      <tag>TXT_KEY_HOST_GAME_PASSWORD_DESC</tag>
      <tag>TXT_KEY_HOST_GAME_PASSWORD_TITLE</tag>
      <tag>TXT_KEY_HOST_GAME_PASSWORD_TITLEBAR</tag>
      <tag>TXT_KEY_HOST_NAT_ERROR_DESC</tag>
      <tag>TXT_KEY_HOST_NAT_ERROR_TITLE</tag>
      <tag>TXT_KEY_INIT_ELAPSED_TIME</tag>
      <tag>TXT_KEY_INIT_GRAPHICS</tag>
      <tag>TXT_KEY_INIT_INITIALIZING</tag>
      <tag>TXT_KEY_INIT_MAP_TRANSFER_ERROR_DESC</tag>
      <tag>TXT_KEY_INIT_MAP_TRANSFER_ERROR_TITLE</tag>
      <tag>TXT_KEY_INIT_SAVE_TRANSFER_ERROR_DESC</tag>
      <tag>TXT_KEY_INIT_SAVE_TRANSFER_ERROR_TITLE</tag>
      <tag>TXT_KEY_INIT_SETUP_INTERFACE</tag>
      <tag>TXT_KEY_INIT_SETUP_MAP</tag>
      <tag>TXT_KEY_INIT_SETUP_PLAYERS</tag>
      <tag>TXT_KEY_INTERNET_LOBBY_TITLE</tag>
      <tag>TXT_KEY_INVALID_CAPTURE_DESC</tag>
      <tag>TXT_KEY_INVALID_CAPTURE_TITLE</tag>
      <tag>TXT_KEY_INVALID_LOGIN_DESC</tag>
      <tag>TXT_KEY_INVALID_LOGIN_TITLE</tag>
      <tag>TXT_KEY_INVALID_PLAYBACK_DESC</tag>
      <tag>TXT_KEY_INVALID_PLAYBACK_TITLE</tag>
      <tag>TXT_KEY_JOIN_FAILURE_DESC</tag>
      <tag>TXT_KEY_JOIN_FAILURE_TITLE</tag>
      <tag>TXT_KEY_JOIN_GAME_PASSWORD_DESC</tag>
      <tag>TXT_KEY_JOIN_GAME_PASSWORD_TITLE</tag>
      <tag>TXT_KEY_JOIN_GAME_PASSWORD_TITLEBAR</tag>
      <tag>TXT_KEY_KICK_NOTICE</tag>
      <tag>TXT_KEY_LAN_LOBBY_TITLE</tag>
      <tag>TXT_KEY_LEADER_DESC_GENERIC</tag>
      <tag>TXT_KEY_LOAD_ERROR</tag>
      <tag>TXT_KEY_LOAD_FILE</tag>
      <tag>TXT_KEY_LOADSAVE_ALL_FILES</tag>
      <tag>TXT_KEY_LOADSAVE_FILE_CANT_CREATE</tag>
      <tag>TXT_KEY_LOADSAVE_FILE_CANT_OPEN</tag>
      <tag>TXT_KEY_LOADSAVE_FILE_NOT_EXIST</tag>
      <tag>TXT_KEY_LOADSAVE_FILE_PROTECTED</tag>
      <tag>TXT_KEY_LOBBY_PROFILE_TAG</tag>
      <tag>TXT_KEY_LOGGING_WARNING_DESC</tag>
      <tag>TXT_KEY_LOGIN_ERROR_DESC</tag>
      <tag>TXT_KEY_LOGIN_ERROR_TITLE</tag>
      <tag>TXT_KEY_LOGIN_IN_USE_DESC</tag>
      <tag>TXT_KEY_LOGIN_IN_USE_TITLE</tag>
      <tag>TXT_KEY_LOGIN_REQUIRED_DESC</tag>
      <tag>TXT_KEY_LOGIN_REQUIRED_TITLE</tag>
      <tag>TXT_KEY_LOGIN_TIMEOUT_DESC</tag>
      <tag>TXT_KEY_LOGIN_TIMEOUT_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_ABOUT_THIS_BUILD</tag>
      <tag>TXT_KEY_MAIN_MENU_ADDRESS_MISSING_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_ADDRESS_MISSING_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_ADVANCED</tag>
      <tag>TXT_KEY_MAIN_MENU_AI</tag>
      <tag>TXT_KEY_MAIN_MENU_ALREADY_PATCHING_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_ALREADY_PATCHING_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_BARBARIANS_HORDES</tag>
      <tag>TXT_KEY_MAIN_MENU_BARBARIANS_NO_ANIMALS</tag>
      <tag>TXT_KEY_MAIN_MENU_BARBARIANS_NO_CITIES</tag>
      <tag>TXT_KEY_MAIN_MENU_BARBARIANS_NONE</tag>
      <tag>TXT_KEY_MAIN_MENU_BARBARIANS_RAGING</tag>
      <tag>TXT_KEY_MAIN_MENU_BARBARIANS_RESTLESS</tag>
      <tag>TXT_KEY_MAIN_MENU_BARBARIANS_ROAMING</tag>
      <tag>TXT_KEY_MAIN_MENU_BARBARIANS_SEDENTARY</tag>
      <tag>TXT_KEY_MAIN_MENU_BTS_MOD</tag>
      <tag>TXT_KEY_MAIN_MENU_BTS_SCENARIO</tag>
      <tag>TXT_KEY_MAIN_MENU_BUDDY_LIST_TAB</tag>
      <tag>TXT_KEY_MAIN_MENU_BUILD_DATE</tag>
      <tag>TXT_KEY_MAIN_MENU_BUILD_VERSION</tag>
      <tag>TXT_KEY_MAIN_MENU_CHOOSE_CIVILIZATION</tag>
      <tag>TXT_KEY_MAIN_MENU_CHOOSE_CIVILIZATION_LEADER_INFO</tag>
      <tag>TXT_KEY_MAIN_MENU_CHOOSE_CIVILIZATION_UNKNOWN_LEADER_INFO</tag>
      <tag>TXT_KEY_MAIN_MENU_CHOOSE_GAME_LOAD</tag>
      <tag>TXT_KEY_MAIN_MENU_CHOOSE_MAP</tag>
      <tag>TXT_KEY_MAIN_MENU_CIV_ADMINPWD_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_CIV_VERSION</tag>
      <tag>TXT_KEY_MAIN_MENU_CIVILOPEDIA</tag>
      <tag>TXT_KEY_MAIN_MENU_CLOSED</tag>
      <tag>TXT_KEY_MAIN_MENU_COLUMN_PITBOSS</tag>
      <tag>TXT_KEY_MAIN_MENU_CONNECT</tag>
      <tag>TXT_KEY_MAIN_MENU_CREATE_A_GAME</tag>
      <tag>TXT_KEY_MAIN_MENU_CREDITS</tag>
      <tag>TXT_KEY_MAIN_MENU_CUSTOM_GAME</tag>
      <tag>TXT_KEY_MAIN_MENU_CUSTOM_SCENARIO</tag>
      <tag>TXT_KEY_MAIN_MENU_DESCRIPTION</tag>
      <tag>TXT_KEY_MAIN_MENU_DETAILS_DEFAULT</tag>
      <tag>TXT_KEY_MAIN_MENU_DIRECTIP_PASSWORD</tag>
      <tag>TXT_KEY_MAIN_MENU_DISCONNECTED</tag>
      <tag>TXT_KEY_MAIN_MENU_ERROR</tag>
      <tag>TXT_KEY_MAIN_MENU_EXAMPLE</tag>
      <tag>TXT_KEY_MAIN_MENU_FILETRANSFER_INPROGRESS_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_FILETRANSFER_INPROGRESS_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_FORCED_DISCONNECT_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_FORCED_DISCONNECT_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_GAME_LOAD_MESSAGE_LOG</tag>
      <tag>TXT_KEY_MAIN_MENU_GAME_PROFILE</tag>
      <tag>TXT_KEY_MAIN_MENU_GAME_STATS_OPTION</tag>
      <tag>TXT_KEY_MAIN_MENU_GAMENAME_MISSING_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_GAMENAME_MISSING_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_GO_BACK</tag>
      <tag>TXT_KEY_MAIN_MENU_HOF_SETTINGS</tag>
      <tag>TXT_KEY_MAIN_MENU_HOST</tag>
      <tag>TXT_KEY_MAIN_MENU_HOST_DISCONNECT_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_HOST_DISCONNECT_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_HOST_PING</tag>
      <tag>TXT_KEY_MAIN_MENU_HOT_SEAT</tag>
      <tag>TXT_KEY_MAIN_MENU_HUMAN</tag>
      <tag>TXT_KEY_MAIN_MENU_INVALID_HOST_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_INVALID_HOST_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_JOIN</tag>
      <tag>TXT_KEY_MAIN_MENU_JOIN_FAILED</tag>
      <tag>TXT_KEY_MAIN_MENU_JOIN_FAILED_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_JOIN_FAILED_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_JOIN_GAME</tag>
      <tag>TXT_KEY_MAIN_MENU_LAUNCH</tag>
      <tag>TXT_KEY_MAIN_MENU_LAUNCHING</tag>
      <tag>TXT_KEY_MAIN_MENU_LEADERS_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_LOAD_FAILED</tag>
      <tag>TXT_KEY_MAIN_MENU_LOAD_GAME</tag>
      <tag>TXT_KEY_MAIN_MENU_LOAD_GAME_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_LOAD_INIT_FAILED_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_LOAD_INIT_FAILED_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_LOAD_MOD</tag>
      <tag>TXT_KEY_MAIN_MENU_LOADING_SAVEGAME</tag>
      <tag>TXT_KEY_MAIN_MENU_LOADSAVE_CANCEL</tag>
      <tag>TXT_KEY_MAIN_MENU_LOADSAVE_CREATE</tag>
      <tag>TXT_KEY_MAIN_MENU_LOADSAVE_FILE_NAME</tag>
      <tag>TXT_KEY_MAIN_MENU_LOADSAVE_FILETYPE</tag>
      <tag>TXT_KEY_MAIN_MENU_LOADSAVE_GAME_FOLDER</tag>
      <tag>TXT_KEY_MAIN_MENU_LOADSAVE_MODIFIED</tag>
      <tag>TXT_KEY_MAIN_MENU_LOADSAVE_NEW_FOLDER</tag>
      <tag>TXT_KEY_MAIN_MENU_LOADSAVE_SELECT_FOLDER</tag>
      <tag>TXT_KEY_MAIN_MENU_LOADSAVE_SIZE</tag>
      <tag>TXT_KEY_MAIN_MENU_LOBBY_NAME</tag>
      <tag>TXT_KEY_MAIN_MENU_MAP</tag>
      <tag>TXT_KEY_MAIN_MENU_MAP_SCRIPT_NOT_FOUND_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_MAP_SCRIPT_NOT_FOUND_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_MOD_NAME</tag>
      <tag>TXT_KEY_MAIN_MENU_MOD_RESTART</tag>
      <tag>TXT_KEY_MAIN_MENU_MPINIT_FAILED_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_MPINIT_FAILED_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_MULTIPLAYER_DIRECTIP</tag>
      <tag>TXT_KEY_MAIN_MENU_MULTIPLAYER_INTERNET_GAMES</tag>
      <tag>TXT_KEY_MAIN_MENU_MULTIPLAYER_LAN</tag>
      <tag>TXT_KEY_MAIN_MENU_NET_HOST_FAILED</tag>
      <tag>TXT_KEY_MAIN_MENU_NETWORK_ADDRESS</tag>
      <tag>TXT_KEY_MAIN_MENU_NEW</tag>
      <tag>TXT_KEY_MAIN_MENU_NEW_GAME</tag>
      <tag>TXT_KEY_MAIN_MENU_NEW_SCENARIO</tag>
      <tag>TXT_KEY_MAIN_MENU_NO_AVAILABLE_CIV_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_NO_AVAILABLE_CIV_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_NO_MAPS_FOUND_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_NO_MAPS_FOUND_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_NONAME_MOD_RESTART</tag>
      <tag>TXT_KEY_MAIN_MENU_NOT_READY</tag>
      <tag>TXT_KEY_MAIN_MENU_NOT_READY_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_NOT_READY_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_NOT_UNIQUE_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_NOT_UNIQUE_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_OPEN</tag>
      <tag>TXT_KEY_MAIN_MENU_OPEN_REPLAY_FAILED</tag>
      <tag>TXT_KEY_MAIN_MENU_OPTIONS</tag>
      <tag>TXT_KEY_MAIN_MENU_PASSWORD_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_PATCH_CHECK_ERROR_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_PATCH_CHECK_ERROR_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_PATCH_IN_PROGRESS_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_PATCH_IN_PROGRESS_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_PATCH_OK_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_PATCH_OK_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_PBEM</tag>
      <tag>TXT_KEY_MAIN_MENU_PITBOSS_WAIT</tag>
      <tag>TXT_KEY_MAIN_MENU_PLAY_NOW</tag>
      <tag>TXT_KEY_MAIN_MENU_PLAYER</tag>
      <tag>TXT_KEY_MAIN_MENU_PLAYER_DETAILS_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_PLAYER_NAME</tag>
      <tag>TXT_KEY_MAIN_MENU_PLAYER_WAIT</tag>
      <tag>TXT_KEY_MAIN_MENU_PLAYERNAME_MISSING_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_PLAYERNAME_MISSING_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_PLAYERS</tag>
      <tag>TXT_KEY_MAIN_MENU_PROTECT_CIV</tag>
      <tag>TXT_KEY_MAIN_MENU_RANDOM</tag>
      <tag>TXT_KEY_MAIN_MENU_RANDOM_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_RANDOM_TOOLTIP</tag>
      <tag>TXT_KEY_MAIN_MENU_READY</tag>
      <tag>TXT_KEY_MAIN_MENU_REFRESH_LIST</tag>
      <tag>TXT_KEY_MAIN_MENU_REPEAT_PASSWORD</tag>
      <tag>TXT_KEY_MAIN_MENU_ROOM_MEMBERS_TAB</tag>
      <tag>TXT_KEY_MAIN_MENU_SAVE_GAME_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_SAVE_VERSION</tag>
      <tag>TXT_KEY_MAIN_MENU_SCENARIO</tag>
      <tag>TXT_KEY_MAIN_MENU_SELECT_A</tag>
      <tag>TXT_KEY_MAIN_MENU_SELECT_A_CIV</tag>
      <tag>TXT_KEY_MAIN_MENU_SELECT_A_CLIMATE</tag>
      <tag>TXT_KEY_MAIN_MENU_SELECT_A_DIFFICULTY</tag>
      <tag>TXT_KEY_MAIN_MENU_SELECT_A_MAP</tag>
      <tag>TXT_KEY_MAIN_MENU_SELECT_A_SCENARIO</tag>
      <tag>TXT_KEY_MAIN_MENU_SELECT_A_SEALEVEL</tag>
      <tag>TXT_KEY_MAIN_MENU_SELECT_BARBARIANS</tag>
      <tag>TXT_KEY_MAIN_MENU_SELECT_CLIMATE</tag>
      <tag>TXT_KEY_MAIN_MENU_SELECT_CLIMATE_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_SELECT_DIFFICULTY</tag>
      <tag>TXT_KEY_MAIN_MENU_SELECT_DIFFICULTY_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_SELECT_GAME_SPEED</tag>
      <tag>TXT_KEY_MAIN_MENU_SELECT_GAME_SPEED_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_SELECT_GLOBE_VIEW</tag>
      <tag>TXT_KEY_MAIN_MENU_SELECT_MAP</tag>
      <tag>TXT_KEY_MAIN_MENU_SELECT_MAP_DESCRIPTION</tag>
      <tag>TXT_KEY_MAIN_MENU_SELECT_SEALEVEL</tag>
      <tag>TXT_KEY_MAIN_MENU_SELECT_SEALEVEL_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_SELECT_WORLD_SETUP</tag>
      <tag>TXT_KEY_MAIN_MENU_SELECT_WORLD_SIZE</tag>
      <tag>TXT_KEY_MAIN_MENU_SELECT_WORLD_SIZE_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_SELECT_WORLD_WRAP</tag>
      <tag>TXT_KEY_MAIN_MENU_SERVER_STAGING_ERROR_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_SERVER_STAGING_ERROR_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_SHORT_NICK_ERROR_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_SHORT_NICK_ERROR_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_STAGING_NAME</tag>
      <tag>TXT_KEY_MAIN_MENU_TUTORIAL</tag>
      <tag>TXT_KEY_MAIN_MENU_UNCLAIMED</tag>
      <tag>TXT_KEY_MAIN_MENU_UNLOAD_MOD</tag>
      <tag>TXT_KEY_MAIN_MENU_UPDATES</tag>
      <tag>TXT_KEY_MAIN_MENU_VERSION_MISMATCH_ERROR_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_VERSION_MISMATCH_ERROR_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_VERSION_MISMATCH_WARNING_DESC</tag>
      <tag>TXT_KEY_MAIN_MENU_VERSION_MISMATCH_WARNING_TITLE</tag>
      <tag>TXT_KEY_MAIN_MENU_VISIT_WEBSITE</tag>
      <tag>TXT_KEY_MAIN_MENU_WAITING_FOR_CIVS</tag>
      <tag>TXT_KEY_MAIN_MENU_WORLD_WRAP_X</tag>
      <tag>TXT_KEY_MAIN_MENU_WORLD_WRAP_Y</tag>
      <tag>TXT_KEY_MAIN_MENU_YOUR_NAME</tag>
      <tag>TXT_KEY_MAP_DESC_DESERT_WAR</tag>
      <tag>TXT_KEY_MAP_NAME_TAG</tag>
      <tag>TXT_KEY_MAP_SCRIPT_WB_ALL_LAND_DESCR</tag>
      <tag>TXT_KEY_MAP_SCRIPT_WB_ALL_WATER_DESCR</tag>
      <tag>TXT_KEY_MAP_UPDATE_RECV</tag>
      <tag>TXT_KEY_MAP_UPDATE_SEND</tag>
      <tag>TXT_KEY_MAP_UPDATE_TITLE</tag>
      <tag>TXT_KEY_MASTER_CONNECT_FAILURE_DESC</tag>
      <tag>TXT_KEY_MASTER_CONNECT_FAILURE_TITLE</tag>
      <tag>TXT_KEY_MASTER_CONNECT_INVALID_LOGIN_DESC</tag>
      <tag>TXT_KEY_MASTER_CONNECT_INVALID_LOGIN_TITLE</tag>
      <tag>TXT_KEY_MASTER_NAT_ERROR_DESC</tag>
      <tag>TXT_KEY_MASTER_NAT_ERROR_TITLE</tag>
      <tag>TXT_KEY_MASTER_SERVER_ERROR_DESC</tag>
      <tag>TXT_KEY_MASTER_SERVER_ERROR_TITLE</tag>
      <tag>TXT_KEY_MASTER_SOCKET_ERROR_DESC</tag>
      <tag>TXT_KEY_MASTER_SOCKET_ERROR_TITLE</tag>
      <tag>TXT_KEY_MASTER_UNAVAILABLE_DESC</tag>
      <tag>TXT_KEY_MASTER_UNAVAILABLE_TITLE</tag>
      <tag>TXT_KEY_MASTER_UNSPECIFIED_ERROR_DESC</tag>
      <tag>TXT_KEY_MASTER_UNSPECIFIED_ERROR_TITLE</tag>
      <tag>TXT_KEY_MEMBERS_ADD_BUDDY</tag>
      <tag>TXT_KEY_MEMBERS_IGNORE_MEMBER</tag>
      <tag>TXT_KEY_MEMBERS_REMOVE_BUDDY</tag>
      <tag>TXT_KEY_MEMBERS_ROOT_NAME</tag>
      <tag>TXT_KEY_MEMBERS_SEND_MESSAGE</tag>
      <tag>TXT_KEY_MEMBERS_UNIGNORE_MEMBER</tag>
      <tag>TXT_KEY_MEMORY_SAVER_ERROR</tag>
      <tag>TXT_KEY_MENU_CIV_EMAIL</tag>
      <tag>TXT_KEY_MENU_CIV_PASSWORD</tag>
      <tag>TXT_KEY_MENU_CIV_SMTP</tag>
      <tag>TXT_KEY_MENU_CIV_TYPE</tag>
      <tag>TXT_KEY_MENU_CLIMATE</tag>
      <tag>TXT_KEY_MENU_ERA</tag>
      <tag>TXT_KEY_MENU_FINAL_SETUP</tag>
      <tag>TXT_KEY_MENU_LEADER_TYPE</tag>
      <tag>TXT_KEY_MENU_MAP</tag>
      <tag>TXT_KEY_MENU_SEALEVEL</tag>
      <tag>TXT_KEY_MENU_SIZE</tag>
      <tag>TXT_KEY_MENU_SPEED</tag>
      <tag>TXT_KEY_MENU_YOUR_DETAILS</tag>
      <tag>TXT_KEY_MILITARY_ADVISOR_CITY_GARRISON</tag>
      <tag>TXT_KEY_MILITARY_ADVISOR_DOMESTIC_UNITS</tag>
      <tag>TXT_KEY_MILITARY_ADVISOR_DONT_GROUP</tag>
      <tag>TXT_KEY_MILITARY_ADVISOR_ENEMY_TERRITORY</tag>
      <tag>TXT_KEY_MILITARY_ADVISOR_FRIENDLY_TERRITORY</tag>
      <tag>TXT_KEY_MILITARY_ADVISOR_GROUP_COMBAT</tag>
      <tag>TXT_KEY_MILITARY_ADVISOR_GROUP_LOCATION</tag>
      <tag>TXT_KEY_MILITARY_ADVISOR_GROUP_STACK</tag>
      <tag>TXT_KEY_MILITARY_ADVISOR_HOME_TERRITORY</tag>
      <tag>TXT_KEY_MILITARY_ADVISOR_NEUTRAL_TERRITORY</tag>
      <tag>TXT_KEY_MILITARY_ADVISOR_SINGLE_STACK</tag>
      <tag>TXT_KEY_MILITARY_ADVISOR_STACK</tag>
      <tag>TXT_KEY_MISC_ALARM_GOES_OFF</tag>
      <tag>TXT_KEY_MISC_ALARM_NOT_SET</tag>
      <tag>TXT_KEY_MISC_ALARM_WILL_GO_OFF</tag>
      <tag>TXT_KEY_MISC_ALARM_WILL_GO_OFF_TIME_NOW</tag>
      <tag>TXT_KEY_MISC_AM_MORNING</tag>
      <tag>TXT_KEY_MISC_BUILT_IN</tag>
      <tag>TXT_KEY_MISC_CAN_CREATE</tag>
      <tag>TXT_KEY_MISC_CORPORATION_HEADQUARTER_COMMERCE</tag>
      <tag>TXT_KEY_MISC_DOWN_ONE_ROW</tag>
      <tag>TXT_KEY_MISC_EXIT_INTERFACE_MODE</tag>
      <tag>TXT_KEY_MISC_GREAT_GENERAL_POINTS_EXCHANGED</tag>
      <tag>TXT_KEY_MISC_HELP_COMMERCE_BASE</tag>
      <tag>TXT_KEY_MISC_HELP_COMMERCE_BASE_YIELD</tag>
      <tag>TXT_KEY_MISC_HELP_GREATPEOPLE_RELIGION</tag>
      <tag>TXT_KEY_MISC_HELP_PROD_NEXT_OVERFLOW</tag>
      <tag>TXT_KEY_MISC_MOVE_BUTTONS_DOWN</tag>
      <tag>TXT_KEY_MISC_MOVE_BUTTONS_UP</tag>
      <tag>TXT_KEY_MISC_OUT_OF_SYNC</tag>
      <tag>TXT_KEY_MISC_PM_AFTERNOON</tag>
      <tag>TXT_KEY_MISC_POS_ESPIONAGE_PER_TURN</tag>
      <tag>TXT_KEY_MISC_REL_IS_FOUNDED</tag>
      <tag>TXT_KEY_MISC_SAY_TO_ALL</tag>
      <tag>TXT_KEY_MISC_SAY_TO_PLAYER</tag>
      <tag>TXT_KEY_MISC_SAY_TO_TEAM</tag>
      <tag>TXT_KEY_MISC_SWITCH_TO_FAST</tag>
      <tag>TXT_KEY_MISC_SWITCH_TO_NORMAL</tag>
      <tag>TXT_KEY_MISC_TRYING_TO_CONTACT</tag>
      <tag>TXT_KEY_MISC_UP_ONE_ROW</tag>
      <tag>TXT_KEY_MISC_VASSAL_THEY_ARE_FREE</tag>
      <tag>TXT_KEY_MISC_VASSAL_TREATY</tag>
      <tag>TXT_KEY_MISC_VASSAL_TRIBUTE</tag>
      <tag>TXT_KEY_MISC_VASSAL_YOU_ARE_FREE</tag>
      <tag>TXT_KEY_MISSION_PATROL_TO_HELP</tag>
      <tag>TXT_KEY_MISSION_TRADE_NET_TO</tag>
      <tag>TXT_KEY_MISSION_TRADE_NET_TO_HELP</tag>
      <tag>TXT_KEY_MOD_FOLDER_TAG</tag>
      <tag>TXT_KEY_MOD_REQUIRED</tag>
      <tag>TXT_KEY_MOVE_FOCUS_BACK_TO</tag>
      <tag>TXT_KEY_MP_DIPLO_CANCEL_CURRENT_DEALS</tag>
      <tag>TXT_KEY_MP_DIPLO_CHAT</tag>
      <tag>TXT_KEY_MP_DIPLO_CURRENT_DEALS</tag>
      <tag>TXT_KEY_MP_DIPLO_EXIT</tag>
      <tag>TXT_KEY_MP_OFFER_TRADE</tag>
      <tag>TXT_KEY_MP_OPTION_100_TURN_LIMIT</tag>
      <tag>TXT_KEY_MP_OPTION_DOUBLE_CITY_ELIMINATION</tag>
      <tag>TXT_KEY_MP_RENEGOTIATE</tag>
      <tag>TXT_KEY_MP_RETRACT_OFFER</tag>
      <tag>TXT_KEY_MP_THEY_ACCEPT</tag>
      <tag>TXT_KEY_MP_THEY_NO_ACCEPT</tag>
      <tag>TXT_KEY_MULTIPLAYER_TAB_NAME</tag>
      <tag>TXT_KEY_NAT_CONTACT_FAILURE_DESC</tag>
      <tag>TXT_KEY_NAT_CONTACT_FAILURE_TITLE</tag>
      <tag>TXT_KEY_NICKNAME_INUSE_DESC</tag>
      <tag>TXT_KEY_NICKNAME_INUSE_TITLE</tag>
      <tag>TXT_KEY_NUM</tag>
      <tag>TXT_KEY_OMENS</tag>
      <tag>TXT_KEY_OOS_TITLE</tag>
      <tag>TXT_KEY_OPTIONS_ALARMHOURS</tag>
      <tag>TXT_KEY_OPTIONS_ALARMMINUTES</tag>
      <tag>TXT_KEY_OPTIONS_CONFIRM_RESOLUTION</tag>
      <tag>TXT_KEY_OPTIONS_DEFAULT</tag>
      <tag>TXT_KEY_OPTIONS_DEFAULT_PROFILE</tag>
      <tag>TXT_KEY_OPTIONS_GIVE_FILENAME</tag>
      <tag>TXT_KEY_OPTIONS_INPUT</tag>
      <tag>TXT_KEY_OPTIONS_NO_CHANGE_RES</tag>
      <tag>TXT_KEY_OPTIONS_NO_CONTENT</tag>
      <tag>TXT_KEY_OPTIONS_PERFORMANCE</tag>
      <tag>TXT_KEY_OPTIONS_QUALITY</tag>
      <tag>TXT_KEY_OPTIONS_SCREEN_RESET_CLOCK</tag>
      <tag>TXT_KEY_OPTIONS_SCREEN_SET_CLOCK</tag>
      <tag>TXT_KEY_OPTIONS_SCREEN_TEXTURE_QUALITY_LEVEL</tag>
      <tag>TXT_KEY_OPTIONS_SCREEN_TEXTURE_QUALITY_LEVEL_HELP</tag>
      <tag>TXT_KEY_OPTIONS_SOFT_LOUD</tag>
      <tag>TXT_KEY_OPTIONS_WARNING1</tag>
      <tag>TXT_KEY_OPTIONS_WARNING2</tag>
      <tag>TXT_KEY_OPTIONS_WARNING3</tag>
      <tag>TXT_KEY_OUT_OF_VRAM</tag>
      <tag>TXT_KEY_OUTPUT_NOT_FOUND</tag>
      <tag>TXT_KEY_OVERWRITE_FILE</tag>
      <tag>TXT_KEY_PASSWORD_REQUIRED_DESC</tag>
      <tag>TXT_KEY_PASSWORD_REQUIRED_TITLE</tag>
      <tag>TXT_KEY_PATCH_AVAILABLE_DESC</tag>
      <tag>TXT_KEY_PATCH_AVAILABLE_INFO</tag>
      <tag>TXT_KEY_PATCH_AVAILABLE_TITLE</tag>
      <tag>TXT_KEY_PATCH_AVAILABLE_TITLEBAR</tag>
      <tag>TXT_KEY_PATCH_COMPLETE_DESC</tag>
      <tag>TXT_KEY_PATCH_COMPLETE_TITLE</tag>
      <tag>TXT_KEY_PATCH_DOWNLOADING_DESC</tag>
      <tag>TXT_KEY_PATCH_DOWNLOADING_TITLE</tag>
      <tag>TXT_KEY_PATCH_FAILED_DESC</tag>
      <tag>TXT_KEY_PATCH_FAILED_TITLE</tag>
      <tag>TXT_KEY_PATCH_NAME_TAG</tag>
      <tag>TXT_KEY_PATCH_REQUIRED_DESC</tag>
      <tag>TXT_KEY_PATCH_REQUIRED_INFO</tag>
      <tag>TXT_KEY_PATCH_REQUIRED_TITLE</tag>
      <tag>TXT_KEY_PATCH_REQUIRED_TITLEBAR</tag>
      <tag>TXT_KEY_PATCH_UPDATE_TITLE</tag>
      <tag>TXT_KEY_PATCHCOMPLETE_CANCELLED_DESC</tag>
      <tag>TXT_KEY_PATCHCOMPLETE_CONNECT_DESC</tag>
      <tag>TXT_KEY_PATCHCOMPLETE_ENCRYPTION_DESC</tag>
      <tag>TXT_KEY_PATCHCOMPLETE_FILENOTFOUND_DESC</tag>
      <tag>TXT_KEY_PATCHCOMPLETE_FILEREAD_DESC</tag>
      <tag>TXT_KEY_PATCHCOMPLETE_FILEWRITE_DESC</tag>
      <tag>TXT_KEY_PATCHCOMPLETE_FORBIDDEN_DESC</tag>
      <tag>TXT_KEY_PATCHCOMPLETE_HOSTNAME_DESC</tag>
      <tag>TXT_KEY_PATCHCOMPLETE_INCOMPLETE_DESC</tag>
      <tag>TXT_KEY_PATCHCOMPLETE_MEMORY_DESC</tag>
      <tag>TXT_KEY_PATCHCOMPLETE_OVERFLOW_DESC</tag>
      <tag>TXT_KEY_PATCHCOMPLETE_PARSE_DESC</tag>
      <tag>TXT_KEY_PATCHCOMPLETE_REJECTED_DESC</tag>
      <tag>TXT_KEY_PATCHCOMPLETE_RESPONSE_DESC</tag>
      <tag>TXT_KEY_PATCHCOMPLETE_SERVER_DESC</tag>
      <tag>TXT_KEY_PATCHCOMPLETE_SOCKET_DESC</tag>
      <tag>TXT_KEY_PATCHCOMPLETE_TOOBIG_DESC</tag>
      <tag>TXT_KEY_PATCHCOMPLETE_UNAUTHORIZED_DESC</tag>
      <tag>TXT_KEY_PATCHCOMPLETE_UNKNOWN_DESC</tag>
      <tag>TXT_KEY_PATCHING_COMPLETE_DESC</tag>
      <tag>TXT_KEY_PATCHING_COMPLETE_TITLE</tag>
      <tag>TXT_KEY_PATCHING_FAILED_DESC</tag>
      <tag>TXT_KEY_PATCHING_FAILED_TITLE</tag>
      <tag>TXT_KEY_PATCHING_WEBSITE_INFO</tag>
      <tag>TXT_KEY_PBEM_DONT_SEND</tag>
      <tag>TXT_KEY_PBEM_ENTER_ADDRESS</tag>
      <tag>TXT_KEY_PBEM_ENTER_PASSWORD</tag>
      <tag>TXT_KEY_PBEM_NEXT_PLAYER</tag>
      <tag>TXT_KEY_PBEM_NOT_SENDING</tag>
      <tag>TXT_KEY_PEACE_ERROR</tag>
      <tag>TXT_KEY_PEER_CONNECT_FAILURE_DESC</tag>
      <tag>TXT_KEY_PEER_CONNECT_FAILURE_TITLE</tag>
      <tag>TXT_KEY_PEER_FAILURE_DESC</tag>
      <tag>TXT_KEY_PEER_FAILURE_TITLE</tag>
      <tag>TXT_KEY_PALACE_TITLE</tag>
      <tag>TXT_KEY_PING_RECEIVED</tag>
      <tag>TXT_KEY_PITBOSS_ADMIN_TITLE</tag>
      <tag>TXT_KEY_PITBOSS_EMAIL_FROM</tag>
      <tag>TXT_KEY_PITBOSS_PATCH_AVAILBLE_DESC</tag>
      <tag>TXT_KEY_PITBOSS_STATUS_INGAME</tag>
      <tag>TXT_KEY_PLAYER_OPTION_FROZEN_UNITS</tag>
      <tag>TXT_KEY_PLAYER_OPTION_FROZEN_UNITS_HELP</tag>
      <tag>TXT_KEY_PLAYER_OPTION_SHOW_MOVEMENT_RANGE</tag>
      <tag>TXT_KEY_PLAYER_OPTION_SHOW_MOVEMENT_RANGE_HELP</tag>
      <tag>TXT_KEY_PLAYER_VOTE_DESC</tag>
      <tag>TXT_KEY_POPUP_ALARM_ON</tag>
      <tag>TXT_KEY_POPUP_ALARM_OPTIONS_TITLE</tag>
      <tag>TXT_KEY_POPUP_DIPLO_VOTE</tag>
      <tag>TXT_KEY_POPUP_EXIT_TO_DESKTOP_CONFIRM</tag>
      <tag>TXT_KEY_POPUP_HOURS</tag>
      <tag>TXT_KEY_POPUP_INSTALL</tag>
      <tag>TXT_KEY_POPUP_MINS</tag>
      <tag>TXT_KEY_PROFILES_SELECT_MUSIC_PATH</tag>
      <tag>TXT_KEY_PROJECT_REQUIRED_STRING</tag>
      <tag>TXT_KEY_PROJECT_REQUIRED_TYPE_VICTORY</tag>
      <tag>TXT_KEY_PROMOTION_QUESTION</tag>
      <tag>TXT_KEY_QUEST_MESSAGE_LOG</tag>
      <tag>TXT_KEY_QUICK_SAVING</tag>
      <tag>TXT_KEY_RANKING_CULTURE</tag>
      <tag>TXT_KEY_RANKING_ESPIONAGE</tag>
      <tag>TXT_KEY_RANKING_LAND</tag>
      <tag>TXT_KEY_RANKING_POPULATION</tag>
      <tag>TXT_KEY_RANKING_POWER</tag>
      <tag>TXT_KEY_RANKING_TECH</tag>
      <tag>TXT_KEY_RANKING_WONDERS</tag>
      <tag>TXT_KEY_RECIP_BUDDY_PROMPT</tag>
      <tag>TXT_KEY_RECOMMENDED_SPECS_MESSAGE</tag>
      <tag>TXT_KEY_REJECT_FULL_DESC</tag>
      <tag>TXT_KEY_REJECT_FULL_TITLE</tag>
      <tag>TXT_KEY_REJECT_INVALID_DATA_DESC</tag>
      <tag>TXT_KEY_REJECT_INVALID_DATA_TITLE</tag>
      <tag>TXT_KEY_REJECT_LAUNCHING_DESC</tag>
      <tag>TXT_KEY_REJECT_LAUNCHING_TITLE</tag>
      <tag>TXT_KEY_REMOVE_BUDDY_NAME_TITLE</tag>
      <tag>TXT_KEY_REMOVE_BUDDY_TAG</tag>
      <tag>TXT_KEY_REMOVE_BUDDY_TITLE</tag>
      <tag>TXT_KEY_REMOVE_BUDDY_VERIFY</tag>
      <tag>TXT_KEY_REPLAY_FAST_SPEED</tag>
      <tag>TXT_KEY_REPLAY_NORMAL_SPEED</tag>
      <tag>TXT_KEY_REPLAY_SCREEN_PREV</tag>
      <tag>TXT_KEY_RESEARCH</tag>
      <tag>TXT_KEY_SAVE_ERROR</tag>
      <tag>TXT_KEY_SAVE_EXTENSION_DESC</tag>
      <tag>TXT_KEY_SAVE_FILE</tag>
      <tag>TXT_KEY_SAVE_FILE_CORRUPT</tag>
      <tag>TXT_KEY_SAVING_GAME</tag>
      <tag>TXT_KEY_SCREEN_END_TUTORIAL</tag>
      <tag>TXT_KEY_SEALEVEL_HIGH_HELP</tag>
      <tag>TXT_KEY_SEALEVEL_LOW_HELP</tag>
      <tag>TXT_KEY_SEALEVEL_MEDIUM_HELP</tag>
      <tag>TXT_KEY_SEND_MAP_WAIT</tag>
      <tag>TXT_KEY_SENT_BUDDY_REQUEST_DESC</tag>
      <tag>TXT_KEY_SENT_BUDDY_REQUEST_TITLE</tag>
      <tag>TXT_KEY_SIGN_ENTER_CAPTION</tag>
      <tag>TXT_KEY_SIGN_FORMAT_OVERVIEW</tag>
      <tag>TXT_KEY_SMTP_PASSWORD</tag>
      <tag>TXT_KEY_SMTP_USERNAME</tag>
      <tag>TXT_KEY_SOCKET_CREATE_FAILURE_DESC</tag>
      <tag>TXT_KEY_SOCKET_CREATE_FAILURE_TITLE</tag>
      <tag>TXT_KEY_SOCKET_ERROR_DESC</tag>
      <tag>TXT_KEY_SOCKET_ERROR_TITLE</tag>
      <tag>TXT_KEY_SOME_TIPS</tag>
      <tag>TXT_KEY_SP_LOAD_ERROR_DESC</tag>
      <tag>TXT_KEY_SP_LOAD_ERROR_TITLE</tag>
      <tag>TXT_KEY_SPACE_SHIP_SCREEN_TITLE</tag>
      <tag>TXT_KEY_STACK_COLLATERAL_DAMAGE</tag>
      <tag>TXT_KEY_STAGING_ROOM_CIVS_TAG</tag>
      <tag>TXT_KEY_STAGING_ROOM_READY</tag>
      <tag>TXT_KEY_STAGING_ROOM_TITLE</tag>
      <tag>TXT_KEY_STOP_SLIDESHOW</tag>
      <tag>TXT_KEY_SUBMIT_VOTE</tag>
      <tag>TXT_KEY_SYSTEM_ALL</tag>
      <tag>TXT_KEY_SYSTEM_BUDDY_REQUEST_TITLE</tag>
      <tag>TXT_KEY_SYSTEM_CHAT_STRING</tag>
      <tag>TXT_KEY_SYSTEM_ERROR_GAME_SETUP_FAILED</tag>
      <tag>TXT_KEY_SYSTEM_ERROR_LOAD_SETUP_FAILED</tag>
      <tag>TXT_KEY_SYSTEM_ERROR_PASSWORD_MISMATCH</tag>
      <tag>TXT_KEY_SYSTEM_ERROR_PASSWORD_MISMATCH_TITLE</tag>
      <tag>TXT_KEY_SYSTEM_ERROR_TITLE</tag>
      <tag>TXT_KEY_SYSTEM_GAME_RESUMED</tag>
      <tag>TXT_KEY_SYSTEM_MESSAGE_TITLE</tag>
      <tag>TXT_KEY_SYSTEM_TEAM</tag>
      <tag>TXT_KEY_SYSTEM_YOU</tag>
      <tag>TXT_KEY_TERRAIN_NO_COASTAL_CITIES</tag>
      <tag>TXT_KEY_TERRAIN_NO_FRESH_WATER_CITIES</tag>
      <tag>TXT_KEY_TITLE_CONNECT_FAILURE_DESC</tag>
      <tag>TXT_KEY_TITLE_CONNECT_FAILURE_TITLE</tag>
      <tag>TXT_KEY_TRADE_CEASE_FIRE_STRING</tag>
      <tag>TXT_KEY_TRADE_CIVICS</tag>
      <tag>TXT_KEY_TRADE_CLEAR_TABLE</tag>
      <tag>TXT_KEY_TRADE_GOLD_FROM_THEM</tag>
      <tag>TXT_KEY_TRADE_GOLD_TO_OFFER</tag>
      <tag>TXT_KEY_TRADE_GPT_FROM_THEM</tag>
      <tag>TXT_KEY_TRADE_GPT_TO_OFFER</tag>
      <tag>TXT_KEY_TRADE_PLAYER_HAS</tag>
      <tag>TXT_KEY_TRADE_PLAYER_OFFERS</tag>
      <tag>TXT_KEY_TRADE_RELIGIONS</tag>
      <tag>TXT_KEY_TRADE_TECH</tag>
      <tag>TXT_KEY_TRADE_THEY_NUM</tag>
      <tag>TXT_KEY_TRADE_THEY_NUM_NUM</tag>
      <tag>TXT_KEY_TRADE_TITLE_GOLD</tag>
      <tag>TXT_KEY_TRADE_TRADE_CITIES</tag>
      <tag>TXT_KEY_TRADE_US_NUM</tag>
      <tag>TXT_KEY_TRADE_US_NUM_NUM</tag>
      <tag>TXT_KEY_TRADE_YOU_HAVE</tag>
      <tag>TXT_KEY_TRADE_YOU_OFFER</tag>
      <tag>TXT_KEY_TRADEABLE_ITEMS</tag>
      <tag>TXT_KEY_TRANSFER_GAME_DATA_TITLE</tag>
      <tag>TXT_KEY_TUTORIAL_EXIT_RESTART_DESC</tag>
      <tag>TXT_KEY_TUTORIAL_EXIT_RESTART_TITLE</tag>
      <tag>TXT_KEY_TUTORIAL_NOT_FOUND_DESC</tag>
      <tag>TXT_KEY_TUTORIAL_NOT_FOUND_TITLE</tag>
      <tag>TXT_KEY_TUTORIAL_QUEST_OBJECTIVE</tag>
      <tag>TXT_KEY_TUTORIAL_QUEST_OBJECTIVE_UPDATE</tag>
      <tag>TXT_KEY_TUTORIAL_RESTART_DESC</tag>
      <tag>TXT_KEY_TUTORIAL_RESTART_TITLE</tag>
      <tag>TXT_KEY_UNCOMPRESS_FAILED</tag>
      <tag>TXT_KEY_USER_GAMENAME</tag>
      <tag>TXT_KEY_VERSION_WARNING_DESC</tag>
      <tag>TXT_KEY_VERSION_WARNING_TITLE</tag>
      <tag>TXT_KEY_VISIT_GAMESPYID</tag>
      <tag>TXT_KEY_VOTE_SCREEN_EXIT_NOW</tag>
      <tag>TXT_KEY_VOTE_SCREEN_SAVE_NAME</tag>
      <tag>TXT_KEY_VOTE_SCREEN_SAVE_NOW</tag>
      <tag>TXT_KEY_WAIT_PLAYERSTATE_AUTH</tag>
      <tag>TXT_KEY_WAIT_PLAYERSTATE_MAP</tag>
      <tag>TXT_KEY_WAIT_PLAYERSTATE_SYNC</tag>
      <tag>TXT_KEY_WARWEARINESS_HIGH</tag>
      <tag>TXT_KEY_WARWEARINESS_LOW</tag>
      <tag>TXT_KEY_WARWEARINESS_MEDIUM</tag>
      <tag>TXT_KEY_WB_ADD_BUILDINGS</tag>
      <tag>TXT_KEY_WB_AS_ITEM_NAME_AND_COST</tag>
      <tag>TXT_KEY_WB_AS_ITEM_NAME_AND_COST_PLUS</tag>
      <tag>TXT_KEY_WB_AS_ITEM_NAME_AND_COST_PLUS_UNREMOVABLE</tag>
      <tag>TXT_KEY_WB_AS_ITEM_NAME_AND_COST_UNREMOVABLE</tag>
      <tag>TXT_KEY_WB_AS_REMOVE_TECH</tag>
      <tag>TXT_KEY_WB_EDIT_UNIT</tag>
      <tag>TXT_KEY_WB_ERASE_PLOTS</tag>
      <tag>TXT_KEY_WB_EXIT</tag>
      <tag>TXT_KEY_WB_LANDMARK_PLOTS</tag>
      <tag>TXT_KEY_WB_MAP_MODE</tag>
      <tag>TXT_KEY_WB_NORMAL_MAP</tag>
      <tag>TXT_KEY_WB_NORMAL_PLAYER</tag>
      <tag>TXT_KEY_WB_PLAYER_MODE</tag>
      <tag>TXT_KEY_WB_PROMOTIONS</tag>
      <tag>TXT_KEY_WB_REGENERATE_MAP</tag>
      <tag>TXT_KEY_WB_REVEAL_ALL</tag>
      <tag>TXT_KEY_WB_REVEAL_TILE</tag>
      <tag>TXT_KEY_WB_SIZE_TAG</tag>
      <tag>TXT_KEY_WB_UNREVEAL_ALL</tag>
      <tag>TXT_KEY_WB_WORLD_BUILDER_EDIT_CONTROL</tag>
      <tag>TXT_KEY_WBREAD_FAILURE</tag>
      <tag>TXT_KEY_WIDGET_APPY_WB_EDIT</tag>
      <tag>TXT_KEY_WIDGET_CANCEL</tag>
      <tag>TXT_KEY_WIDGET_EXAMINE</tag>
      <tag>TXT_KEY_WIDGET_SET_BRUSH</tag>
      <tag>TXT_KEY_WINDOW_CLOSE</tag>
      <tag>TXT_KEY_WINDOW_COLLAPSE</tag>
      <tag>TXT_KEY_WINDOW_EXPAND</tag>
      <tag>TXT_KEY_WINDOW_MAXIMIZE</tag>
      <tag>TXT_KEY_WINDOW_MINIMIZE</tag>
      <tag>TXT_KEY_WINDOW_POPUP_MOVE</tag>
      <tag>TXT_KEY_WINDOW_POPUP_RESIZE</tag>
      <tag>TXT_KEY_WINDOW_RESTORE</tag>
      <tag>TXT_KEY_WINDOW_RESTORE_DOWN</tag>
      <tag>TXT_KEY_WINDOW_RESTORE_UP</tag>
      <tag>TXT_KEY_WONDER_SCREEN_TITLE</tag>
      <tag>TXT_KEY_WONDERS_SCREEN_BEING_BUILT_BY</tag>
      <tag>TXT_KEY_WONDERS_SCREEN_WONDERS_TEXT</tag>
      <tag>TXT_KEY_WORLDSIZE_DUEL_HELP</tag>
      <tag>TXT_KEY_WORLDSIZE_HUGE_HELP</tag>
      <tag>TXT_KEY_WORLDSIZE_LARGE_HELP</tag>
      <tag>TXT_KEY_WORLDSIZE_SMALL_HELP</tag>
      <tag>TXT_KEY_WORLDSIZE_STANDARD_HELP</tag>
      <tag>TXT_KEY_WORLDSIZE_TINY_HELP</tag>
      <tag>TXT_KEY_WRONG_VERSION</tag>
      <tag>TXT_KEY_ZOOM_TO_CITY_DOMESTIC</tag>
      <tag>TXT_MAIN_MENU_CIV_PASSWORD_DESC</tag>
      <tag>TXT_MAIN_MENU_CIV_PROTECT_DESC</tag>
      <tag>TXT_MAIN_MENU_CIV_PROTECT_TITLE</tag>
    </exceptions>
</main>
