<?xml version='1.0' encoding='utf-8'?>
<main>
    <directories from="import" to="export"/>
    <options>
        <englishOnly>0</englishOnly>
    </options>
    <languages>
        <language enabled="1" code="en">English</language>
        <language enabled="0" code="zh">Chinese</language>
        <language enabled="1" code="fi">Finnish</language>
        <language enabled="1" code="fr">French</language>
        <language enabled="1" code="de">German</language>
        <language enabled="1" code="hu">Hungarian</language>
        <language enabled="1" code="it">Italian</language>
        <language enabled="0" code="ja">Japanese</language>
        <language enabled="1" code="pl">Polish</language>
        <language enabled="1" code="ru">Russian</language>
        <language enabled="1" code="es">Spanish</language>
        <language enabled="1" code="cs">Czech</language>
        <language enabled="1" code="da">Danish</language>
        <language enabled="1" code="ar">Arabic</language>
        <language enabled="1" code="tr">Turkish</language>
    </languages>
</main>
