<?xml version='1.0' encoding='utf-8'?>
<main>
    <directories text="D:\Configuration\Beyond the sword\Mods\Rise of Mankind - A New Dawn\Assets\XML\Text" to="export" BTS="C:\Jeux\Steam\SteamApps\common\Sid Meier's Civilization IV Beyond the Sword" sources="D:\civ4_anewdawn_repository\Sources" mod="D:\Configuration\Beyond the sword\Mods\Rise of Mankind - A New Dawn\"/>
	<list>_tags_not_found.txt</list>
    <exceptions>
        <tag>TXT_KEY_BUG_OPT</tag>
		<tag>TXT_KEY_BUG_UNIT_NAMING</tag>
        <tag>TXT_KEY_BUFFY</tag>
		<tag>TXT_KEY_LANGUAGE_</tag>
		<tag>TXT_KEY_PLE_FILTER_</tag>
		<tag>TXT_KEY_PLE_GRP_</tag>
		<tag>TXT_KEY_PLE_MODE_</tag>
		<tag>TXT_KEY_PLE_RESET_FILTERS</tag>
    </exceptions>
</main>
